body{
    font-size: 16px;
    line-height: 1.5;
    font-family: " Roboto " , "Arial" , "sans-serif " ;
    letter-spacing: 0.5px;
}
*:focus{
    outline: 2px dotted #FF7500;
    outline-style: 3px;
}
.site-logo{
    transition:opacity 0.4s ease;
   
}

.site-logo:hover{
    opacity:0.8;
}
.site-logo:active{
    opacity:0.6;}
     .site-logo img{
    display: block;
    }

.site-header{
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: #FF7500 5px solid;
    padding-top: 16px;
    padding-bottom:  16px;
}
.nav-and-link{
    display: flex;
    align-items: center;
   
}

.site-nav{
    list-style: none;
    display: flex;
    padding: 0;
    margin:0;
    margin-right: 32px;
    
}
.site-nav-items{
    margin-right: 32px;

}
.site-nav-items:last-child{
    margin:0px;
}
.site-navigator{
    font-weight: 500;
    font-size: 13px;
    line-height:15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
 transition:color 0.4s ease ,opacity 0.6s ease;
   
}
.site-navigator:hover{
 color:#FF7500
}
.site-navigator:active{
    opacity:0.6;
}
.site-link{
    display:inline-block;
    padding:12px 24px 12px 24px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
    line-height:15px;
    color: #fff;
    background-color: #FF7500;
   text-decoration: none;
   transition: opacity 0.4s ease;
  
    

}
.site-link:hover{
    opacity:0.8;
}
.site-link:active{
    opacity:0.6;
}
.site-page{
    background-color: #252420;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.site-hero{
    width: 390px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.site-line{
    width: 80px;
    height: 3px;
    border:0;
    background-color: #FF7500;
    margin:0;
    margin-bottom: 40px;
    

} 
.hero-heading{
        font-size: 40px;
        line-height: 120%;
       font-family: "Roboto Condensed","Arial","sans-serif";
       margin-top: 0;
       margin-bottom: 24px;
    }
    .hero-pharagraph{
        margin-top: 0;
        margin-bottom: 32px;

    }

.hero-image{
    width: 510px;
    height: 510px;
    border-radius: 8px;
}
.features-section{
    padding-top: 210px;
    padding-bottom: 210px;
}
.head-feature{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
       font-family: "Roboto Condensed","Arial","sans-serif";
       margin-top: 0;
       margin-bottom: 72px;
     
   
}
.site-ul-link{
    display: flex;
    list-style: none;
  
    padding: 0;
    margin: 0;
}
.feature-list{
    width: 340px;
   margin-right: 40px;

   
}
.future-list:last-child{
    margin-right: 0;
}
.image-wrapper{
    width: 100px;
    height: 100px;
    background-color:  rgba(255, 117, 0, 0.2);
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.feature-heading{ 
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condensed","Arial","sans-serif";
   
    

}
 .feature-pharagraph{
    width: 310px;
       
    }
    .part-wrapper{
        margin-bottom: 24px;
    }
    .part-pharagraph{
        margin-top: 0;
        margin-bottom: 12px;
    }
    .part-pharagraph:last-child{
        margin-bottom: 0;
    }
    .site-part{
       
        background-color: rgba(37, 36, 32, 1);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
        border-radius: 12px;
    }
    .part-image{
        width: 440px;
        height: 440px;
        object-fit:cover ;
        border-radius: 12px;
    }
    .part-text{
        width: 440px;
    }
    .part-heading{
        font-size: 40px;
        line-height: 1.2;
       font-family: "Roboto Condensed","Arial","sans-serif";

        
    }
  
    
    .part-strong{
        color: #FF7500;
    }
    .socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0;
        margin: 0;
    }
    .socials li{
        margin-right: 16px;
    }
    .socials li:last-child{
        margin-right: 0;
    }
    .footer-ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .footer-ul a{
        color: #252420;
        display: block;

    }
    .footer-ul a:hover{
        color:#FF7500

    }
    .footer-ul a:active{
        opacity:0.6;
    }
    .footer-ul svg{
        display: block;
    }
   
    .site-footer{
        background-color: #F8F8F8;
        padding-bottom: 56px;
        padding-top: 56px;
    }
    .footer-line{
       background-color: rgba(37, 36, 32, 0.5);
        ;
        height: 2px;
        border:0;
        margin-top:40px;
        margin-bottom:64px;
    }
    .links{
        display:flex;
     
    }

    .site-footer ul{
list-style: none;

    }
    .site-footer-link{
        width: 224px;
        line-height: 19px;
        padding:0;
        list-style: none;
        margin:0;
        margin-right: 68px;
       
    }
    .site-footer-link:last-child{
    margin:0;
    }
    .site-footer-link a{
      
        text-decoration: none;
        color: #252420;
      
    }
    .site-footer-link a:hover{
        color:#FF7500;
    }
    .site-footer-link a:active{
        opacity:0.6;
    }
