body{
    font-size: 16px;
    line-height: 1.5;
    font-family: " Roboto " , "Arial" , "sans-serif " ;
    letter-spacing: 0.5px;
}
.site-header{
    background-color: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav-and-link{
    display: flex;
    align-items: center;
   
}

.site-nav{
    list-style: none;
    display: flex;
    
}
.site-navigator{
    font-weight: 500;
    font-size: 13px;
    line-height:15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;

}
.site-link{
    font-size: 13px;
    line-height:15px;
    color: #fff;
    background-color: #FF7500;
   text-decoration: none;
    

}
.site-page{
    background-color: #252420;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    
}
.site-hero{
    width: 390px;

}

.site-line{
    width: 80px;
    height: 3px;
    background-color: #FF7500;

} 
.hero-heading{
        font-size: 40px;
        line-height: 120%;
       font-family: "Roboto Condensed","Arial","sans-serif";
    }

.hero-image{
    width: 510px;
    height: 510px;}
.head-feature{
    width: 440px;
    font-size: 72px;
    line-height: 1.2;
       font-family: "Roboto Condensed","Arial","sans-serif";
     
   
}
.site-ul-link{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.feature-list{
    width: 340px;
    height: 245px;
}
.image-wrapper{
    width: 100px;
    height: 100px;
    background-color:  rgba(255, 117, 0, 0.2);
    ;
   
}
.feature-heading{
    font-size: 24px;
    line-height: 1.2;
    font-family: "Roboto Condensed","Arial","sans-serif";

    

}
 .feature-pharagraph{
    width: 310px;
       
    }
    .site-part{
       
        background-color: rgba(37, 36, 32, 1);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .part-image{
        width: 440px;
        height: 440px;
        object-fit:cover ;
    }
    .part-text{
        width: 440px;
    }
    .part-heading{
        font-size: 40px;
        line-height: 1.2;
       font-family: "Roboto Condensed","Arial","sans-serif";
        
    }
  
    
    .part-strong{
        color: #FF7500;
    }
    .socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer-ul{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .site-footer{
        background-color: #F8F8F8;
    }
    .footer-line{
       background-color: rgba(37, 36, 32, 0.5);
        ;
        height: 2px;
    }
    .links{
        display:flex;
       
    }
    .site-footer ul{
list-style: none;

    }
    .site-footer-link{
        width: 224px;
        line-height: 19px;
       
    }
    .site-footer-link a{
      
        text-decoration: none;
        color: #252420;
        
    }